<div class="grid">
  <div class="grid-item" (click)="addValue('1')"><span>1</span></div>
  <div class="grid-item" (click)="addValue('2')"><span>2</span></div>
  <div class="grid-item" (click)="addValue('3')"><span>3</span></div>
  <div class="grid-item" (click)="addValue('4')"><span>4</span></div>
  <div class="grid-item" (click)="addValue('5')"><span>5</span></div>
  <div class="grid-item" (click)="addValue('6')"><span>6</span></div>
  <div class="grid-item" (click)="addValue('7')"><span>7</span></div>
  <div class="grid-item" (click)="addValue('8')"><span>8</span></div>
  <div class="grid-item" (click)="addValue('9')"><span>9</span></div>
  <div class="grid-item" (click)="addValue('#')"><span>#</span></div>
  <div class="grid-item" (click)="addValue('0')"><span>0</span></div>
  <div class="grid-item" (click)="removeValue()"><span>&#8592;</span></div>
</div>
